<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons.html::head(~{::title})}">
    <title>alert</title>
</head>

<body>

<nav th:replace="~{commons::headbar(${currentUser})}"></nav>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons.html::sidebar(current='task')}"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">编辑告警规则</h1>

            <form class="form-horizontal" th:action="@{/alert/edit_form/}" method="post" th:object="${alert}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-10">
                        <input name="alertName" type="text" class="form-control" id="taskName"
                               th:value="${alert.getAlertName()}"
                               placeholder="请输入告警规则名">
                    </div>
                </div>

                <input name="alertId" type="hidden" id="alertId" th:value="${alert.getAlertId()}">

                <div class="form-group">
                    <label class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-10">
                        <input type="radio" th:checked="${alert.getAlertType()} eq 0" name="alertType" value=0>超时</input>
                        <br />
                        <input type="radio" th:checked="${alert.getAlertType()} eq 1" name="alertType" value=1 >可用率低</input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">参数</label>
                    <div class="col-sm-10">
                        <textarea class="form-control col-sm-10" name="alertParam" th:text="${alert.getAlertParam()}"
                                  placeholder="请输入数字，会根据规则类型自动增加'ms','%'等单位"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
<!--                    <a href=""></a>-->
                    <a class="btn btn-default" th:href="@{/alert/list}">关闭</a>
<!--                    <button type="button" class="btn btn-default" th:action="@{/alert/list}">关闭</button>-->
                    <button class="btn btn-primary" type="submit">提交更改</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>